html, body {
    height: 100%; /* Ensures that the body of the page takes the full height of the viewport*/
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the full viewport is covered */
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    font-weight: bold;
    align-items: center;
    justify-content: space-between; /* Adjusts the content to create space between the top and bottom */
    overflow-x: hidden;
    background-color: transparent; 
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    background: url('/assets/images/egyptian-tomb.png');
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#greeting, #score, #result {
    color: white; /* Setting text color to white for visibility */
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8); /* Enhanced visual effect for readers */
}

#background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
}

header {
    background-color: transparent; 
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7); /*Adding shadowing to enhance visibility */
    padding: 1rem 0;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.main-title, .subtitle {
    color: #d4af37; /* Gold to create contrast with dark background image */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    font-weight: bold; /* For better visual effect added boldness */
}

.subtitle {
    font-size: 1.5em;
}

main {
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px; /* Added padding to ensure no overlap with footer */
    overflow-y: auto; /* Added scroll in case content exceeds viewport */
    flex: 1 0 auto; /* Allows content to grow/shrink if needed */
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px; /* added spacing between the two game buttons */
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px 15px;
    width: auto;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
    font-size: 1em;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}

.modal {
    position: fixed;
    top: 30%;   
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 500px;
    max-height: 550px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 1000;
    display: none;
    background-color: #d4af37;
}

.modal-content {
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.hidden {
    display: none;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: transparent;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    width: 100%;
    font-size: small;
}

/* Responsive design styles */
@media (max-width: 768px) {
    header, footer {
        padding: 0.5rem 0;
    }

    main {
        padding: 10px;
        width: 95%;
        max-width: none;
    }

    .modal {
        width: 95%;
        padding: 15px;
    }

    button {
        padding: 8px 10px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.2em;
    }

    .close {
        font-size: 20px; /* For smaller close button on smaller screens */
    }
}

/* Enhanced contrast for the titles */
.selection-title {
    color: #d4af37; /* Gold for high contrast with dark background */
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.75); /* Shadowing for enhanced contrast */
}

